* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    text-align: center;
    background-color: rgb(122, 176, 199);
}

.btn {
 width: 120px;
 padding: 15px;
 color: #000;
 margin-top: 10px;
 border-radius: 30px;
 border: none;
 cursor: pointer;
 background-color: #fff;
}

.close-modal {
    font-size: 32px;
    position: absolute;
    top: 5px;
    right: 10px;
    border: none;
    cursor: pointer;
    background-color: #fff;
}

.modal {
    width: 500px;
    text-align: justify;
    position: absolute;
    top: 30%;
    left: 33%;
    padding: 30px;
    color: #000;
    border: 0.2px solid #eee;
    background-color: #fff;
}

.heading {

}

.message {
    margin-top: 10px;
    line-height: 28px;
}

.overlay {
    background-color: rgb(17, 99, 127);
    position: absolute;
    cursor: pointer;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}